body {
    margin: 0;
    background-color: #F2F2F2;
}
div {
    margin: 0;
}

/* main */
.img {
    width: 100%;
    position: relative;
}
.img > img {
    width: 100%;
}



/* Profiles */
h2 {
    margin: 0;
}

/* works */
#works-link-btn:hover {
    color: #2E75B6;
    background-color: #F2F2F2;
    border: 2px solid #2E75B6;
    font-weight: bold;
}

/* footer */
footer {
    width: 100%;
    height: 60px;
    background-color: #2E75B6;
    display: flex;
    align-items: center;
    justify-content: center;
}
#copy-right {
    margin: 0;
    text-align: center;
}
#copy-right > p {
    color: #fff;
    margin: 0;
}

/* submited */
#submited {
    width: 100%;
    text-align: center;
    margin-top: 150px;
}
#submited-footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

@media screen and (min-width: 821px) {
    /* header */
    header {
        width: 100%;
        height: 80px;
        background-color: #2E75B6;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 30;
    }
    #phone-nav {
        display: none;
    }
    #logo {
        width: 70px;
        height: 70px;
        margin-left: 30px;
    }
    #logo > img {
        width: 100%;
    }
    #pc-nav {
        position: absolute;
        right: 0;
    }
    #nav-list {
        display: flex;
        height: 80px;
        flex-direction: row;
        align-items: center;
        justify-content: right;
        margin: 0;
    }
    nav li {
        list-style: none;
        margin-right: 30px;
    }
    nav li a {
        color: #fff;
        text-decoration: none;
        font-size: 24px;
    }
    nav li a:hover {
        text-decoration: underline;
    }

    /* main */
    #main {
        width: 100%;
        height: 100vh;
        padding-top: 80px;
        box-sizing: border-box;
        overflow: hidden;
    }
    .img > p {
        position: absolute;
        margin: 0;
        top: 50px;
        left: 25%;
        font-size: 50px;
        color: #fff;
        font-weight: bold;
    }

    h1 {
        font-size: 28px;
        position: relative;
    }
    h1::after {
        content: url(images/label_line.png);
        position: absolute;
        top: -7px;
        margin-left: 10px;
    }

    /* Profiles */
    #profiles {
        padding: 60px 0 40px 0;
        margin: 0 4%;
        border-bottom: 2px solid #2E75B6;
    }
    #profiles > div {
        margin-top: 20px;
    }
    h2 {
        margin: 0;
    }
    .name,
    .mail {
        font-size: 24px;
        margin: 0;
    }
    .message {
        font-size: 20px;
        margin: 0;
    }

    /* Skills */
    #skills {
        padding: 60px 0 40px 0;
        margin: 0 4%;
        border-bottom: 2px solid #2E75B6;
    }
    .content {
        font-size: 22px;
    }
    #skill-list {
        padding-left: 20px;
        margin: 30px 0 0 0;
    }
    #skill-list > li {
        font-size: 22px;
        margin-top: 10px;
    }

    /* Works */
    #works {
        padding: 60px 0 40px 0;
        margin: 0 4%;
        border-bottom: 2px solid #2E75B6;
    }
    #works-link {
        display: none;
        color: #fff;
        text-decoration: none;
        font-size: 22px;
        margin-top: 20px;
    }
    #works-link-btn {
        width: 324px;
        height: 53px;
        margin: 20px 0 40px 0;
        font-size: 22px;
        color: #fff;
        background-color: #2E75B6;
        border: none;
        border-radius: 25px;
        cursor: pointer;
    }
    
    /* Contact */
    #contact {
        padding: 60px 0 40px 0;
        margin: 0 4%;
    }
    #contact form {
        max-width: 600px;
        margin-bottom: 40px;
    }
    .contact-form {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .contact-form > label {
        font-size: 24px;
    }
    .contact-form > input {
        width: 100%;
        height: 40px;
        font-size: 20px;
        border: none;
        border-bottom: 1px solid #000;
        box-sizing: border-box;
        outline: none;
    }
    .contact-form > textarea {
        width: 100%;
        height: 120px;
        font-size: 20px;
        border: none;
        border-bottom: 1px solid #000;
        box-sizing: border-box;
        outline: none;
    }
    #submit {
        text-align: center;
    }
    #submit-btn {
        background-color: #2E75B6;
        color: #fff;
        border: none;
        font-size: 20px;
        width: 100px;
        height: 40px;
        border-radius: 10px;
        cursor: pointer;
    }
    #submit-btn:hover {
        color: #2E75B6;
        background-color: #F2F2F2;
        border: 2px solid #2E75B6;
        font-weight: bold;
    }

    #submited {
        font-size: 28px;
    }
}

@media screen and (min-width: 768px) and (max-width: 860px) {
    /* header */
    header {
        width: 100%;
        height: 80px;
        background-color: #2E75B6;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 30;
    }
    #phone-nav {
        display: none;
    }
    #logo {
        width: 70px;
        height: 70px;
        margin-left: 30px;
    }
    #logo > img {
        width: 100%;
    }
    #pc-nav {
        position: absolute;
        right: 0;
    }
    #nav-list {
        display: flex;
        height: 80px;
        flex-direction: row;
        align-items: center;
        justify-content: right;
        margin: 0;
    }
    nav li {
        list-style: none;
        margin-right: 30px;
    }
    nav li a {
        color: #fff;
        text-decoration: none;
        font-size: 24px;
    }
    nav li a:hover {
        text-decoration: underline;
    }

    /* main */
    #main {
        width: 100%;
        padding-top: 80px;
        box-sizing: border-box;
        overflow: hidden;
    }
    .img > p {
        position: absolute;
        margin: 0;
        top: 50px;
        left: 25%;
        font-size: 30px;
        color: #fff;
        font-weight: bold;
    }

    h1 {
        font-size: 28px;
        position: relative;
    }
    h1::after {
        content: url(images/label_line.png);
        position: absolute;
        top: -7px;
        margin-left: 10px;
    }

    /* Profiles */
    #profiles {
        padding: 60px 0 40px 0;
        margin: 0 4%;
        border-bottom: 2px solid #2E75B6;
    }
    #profiles > div {
        margin-top: 20px;
    }
    h2 {
        margin: 0;
    }
    .name,
    .mail {
        font-size: 24px;
        margin: 0;
    }
    .message {
        font-size: 20px;
        margin: 0;
    }

    /* Skills */
    #skills {
        padding: 60px 0 40px 0;
        margin: 0 4%;
        border-bottom: 2px solid #2E75B6;
    }
    .content {
        font-size: 22px;
    }
    #skill-list {
        padding-left: 20px;
        margin: 30px 0 0 0;
    }
    #skill-list > li {
        font-size: 22px;
        margin-top: 10px;
    }

    /* Works */
    #works {
        padding: 60px 0 40px 0;
        margin: 0 4%;
        border-bottom: 2px solid #2E75B6;
    }
    #works-link {
        display: none;
        color: #fff;
        text-decoration: none;
        font-size: 22px;
        margin-top: 20px;
    }
    #works-link-btn {
        width: 324px;
        height: 53px;
        margin: 20px 0 40px 0;
        font-size: 22px;
        color: #fff;
        background-color: #2E75B6;
        border: none;
        border-radius: 25px;
        cursor: pointer;
    }
    
    /* Contact */
    #contact {
        padding: 60px 0 40px 0;
        margin: 0 4%;
    }
    #contact form {
        max-width: 600px;
        margin-bottom: 40px;
    }
    .contact-form {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .contact-form > label {
        font-size: 24px;
    }
    .contact-form > input {
        width: 100%;
        height: 40px;
        font-size: 20px;
        border: none;
        border-bottom: 1px solid #000;
        box-sizing: border-box;
        outline: none;
    }
    .contact-form > textarea {
        width: 100%;
        height: 120px;
        font-size: 20px;
        border: none;
        border-bottom: 1px solid #000;
        box-sizing: border-box;
        outline: none;
    }
    #submit {
        text-align: center;
    }
    #submit-btn {
        background-color: #2E75B6;
        color: #fff;
        border: none;
        font-size: 20px;
        width: 100px;
        height: 40px;
        border-radius: 10px;
        cursor: pointer;
    }
    #submit-btn:hover {
        color: #2E75B6;
        background-color: #F2F2F2;
        border: 2px solid #2E75B6;
        font-weight: bold;
    }

    #submited {
        font-size: 28px;
    }
}


@media screen and (max-width: 767px) {
    /* header */
    header {
        width: 100%;
        height: 50px;
        background-color: #2E75B6;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 30;
    }
    #logo {
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }
    #logo > img {
        width: 100%;
    }
    #pc-nav {
        display: none;
    }
    .phone-nav {
        display: block;
        position: fixed;
        top: 0;
        right: -800px;
        width: 100%;
        height: 100vh;
        background-color: #2E75B6;
        transition: all .3s ease;
    }
    .show {
        right: 0px;
    }
    #menu {
        width: 50px;
        height: 50px;
        background-color: #2E75B6;
        position: relative;
        z-index: 20;
    }
    #menu span {
        width: 30px;
        height: 2px;
        background-color: #fff;
        border-radius: 2px;
        position: absolute;
        transition: all .3s ease;
    }
    .menu span:nth-child(1) {
        top: 15px;
        left: 10px;
    }
    .menu span:nth-child(2) {
        top: 24px;
        left: 10px;
    }
    .menu span:nth-child(3) {
        bottom: 15px;
        left: 10px;
    }
    .open > span:nth-child(1) {
        top: 25px;
        transform: rotate(45deg);
    }
    .open > span:nth-child(2) {
        display: none;
    }
    .open > span:nth-child(3) {
        top: 25px;
        transform: rotate(-45deg);
    }
    
    .phone-nav li {
        list-style: none;
        margin-right: 30px;
        margin-top: 30px;
    }
    .phone-nav li a {
        color: #fff;
        text-decoration: none;
        font-size: 20px;
    }

    /* main */
    #main {
        width: 100%;
        padding-top: 50px;
        box-sizing: border-box;
        overflow: hidden;
    }
    .img > p {
        position: absolute;
        margin: 0;
        top: 5%;
        left: 20%;
        font-size: 20px;
        color: #fff;
        font-weight: bold;
    }

    h1 {
        font-size: 24px;
        position: relative;
    }
    h1::after {
        content: url(images/label_line.png);
        position: absolute;
        top: -6px;
        margin-left: 8px;
        width: 50px;
        overflow: hidden;
    }

    /* Profiles */
    #profiles {
        padding: 40px 0 40px 0;
        margin: 0 4%;
        border-bottom: 2px solid #2E75B6;
    }
    #profiles > div {
        margin-top: 20px;
    }
    h2 {
        font-size: 20px;
        margin: 0;
    }
    .name,
    .mail {
        font-size: 20px;
        margin: 0;
    }
    .message {
        font-size: 16px;
        margin: 0;
    }

    /* Skills */
    #skills {
        padding: 40px 0 40px 0;
        margin: 0 4%;
        border-bottom: 2px solid #2E75B6;
    }
    .content {
        font-size: 16px;
    }
    #skill-list {
        padding-left: 20px;
        margin: 30px 0 0 0;
    }
    #skill-list > li {
        font-size: 18px;
        margin-top: 10px;
    }

    /* Works */
    #works {
        padding: 40px 0 40px 0;
        margin: 0 4%;
        border-bottom: 2px solid #2E75B6;
    }
    #works-link {
        display: none;
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        margin-top: 20px;
    }
    #works-link-btn {
        width: 250px;
        height: 40px;
        margin: 20px 0 40px 0;
        font-size: 16px;
        color: #fff;
        background-color: #2E75B6;
        border: none;
        border-radius: 25px;
        cursor: pointer;
    }
    
    /* Contact */
    #contact {
        padding: 40px 0 40px 0;
        margin: 0 4%;
    }
    #contact form {
        max-width: 600px;
        margin-bottom: 40px;
    }
    .contact-form {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .contact-form > label {
        font-size: 18px;
    }
    .contact-form > input {
        width: 100%;
        height: 30px;
        font-size: 16px;
        border: none;
        border-bottom: 1px solid #000;
        box-sizing: border-box;
        outline: none;
    }
    .contact-form > textarea {
        width: 100%;
        height: 90px;
        font-size: 16px;
        border: none;
        border-bottom: 1px solid #000;
        box-sizing: border-box;
        outline: none;
    }
    #submit {
        text-align: center;
    }
    #submit-btn {
        background-color: #2E75B6;
        color: #fff;
        border: none;
        font-size: 18px;
        width: 80px;
        height: 30px;
        border-radius: 10px;
        cursor: pointer;
    }
    #submit-btn:hover {
        color: #2E75B6;
        background-color: #F2F2F2;
        border: 2px solid #2E75B6;
        font-weight: bold;
    }

    /* footer */
    #copy-right > p {
        font-size: 14px;
    }
}